/*default styles for mobile-first design (small screens) */
.site-structure {
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    /*border: 2px solid blue; */

    margin-top: calc(0px - var(--form-response-height));
}

.site-article {
    background-color: white;
    grid-area: main;

    /*border: 2px solid purple; */
}

.background-image {
    display: none;
}

/*optional: Define background sections */
.gutter {
    display: none; /*hide on mobile */
}

/*small Laptops and Larger Tablets */
@media (min-width: 768px) {
    .site-structure {
        grid-template-areas: "bg-left main bg-right";
        grid-template-columns: 1fr 2fr 1fr;        
    }
    .site-article {
        padding-left: 2rem;
        padding-right: 2rem;
        box-shadow: 0 0 7px rgba(17, 17, 17, 0.15);
        border-radius: var(--corners);
        margin-bottom: 5rem;
    }

    .gutter {
        display: flex;
    }

    .gutter.right {
        grid-area: bg-right;
    }

    .gutter.left {
        grid-area: bg-left;
    }
}

/* Desktops and Larger Screens */
@media (min-width: 1024px) {
    .site-structure {
        grid-template-areas: "bg-left main bg-right";
        grid-template-columns: 1fr 2fr 1fr;        
    }
}

/* Extra Large Screens */
@media (min-width: 1440px) {
    .site-structure {
        grid-template-areas: "bg-left main bg-right";
        grid-template-columns: 1fr 2fr 1fr;        
    }
}
