.project-buttons {
    grid-area: proj-buttons;

    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
}

.api-call-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 8.55rem;

    /* Initial opacity */
    opacity: 0.2;

    /* Button appearance */
    background-color: var(--demo-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;

    font-family: 'Arial', sans-serif;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);

    cursor: pointer;

    /* Add transitions for smooth effects */
    transition: 
        background-color 0.3s ease, 
        transform 0.2s ease, 
        opacity 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Hover effect for interactivity */
.api-call-button:hover {
    background-color: var(--demo-color2);
    transform: translateY(-2px); /* Slight "lift" */
}

.api-call-button:active {
    background-color: var(--demo-color);
    transform: translateY(0); /* Reset lift effect */
}

.api-button-logo {
    height: 1.25rem;
    width: auto;
}