/* Define color variables */
:root {
    /* GENERAL */
    --primary-color: #333; /* Main color for text, buttons, and separators */
    --secondary-color: #444; /* Background for navigation */
    --text-color: #fff; /* Main text color on dark backgrounds */
    --body-text-color: #333; /* Main text color for body */
    --accent-color: #db5e0b;

    /* HERO */
    --hero-color: rgb(36, 35, 35);

    /* NAV */
    --nav-color: rgb(42, 42, 42);

    /* DEMO BUTTON */
    --demo-color: #db5e0b;
    --demo-color2: rgb(185, 52, 11);

    /* GITHUB BUTTON */
    --git-color: rgb(59, 59, 59);
    --git-color2: #560bad;
    --git-color-click: #d0137e;

    /* SOCIAL */
    --social-color: rgb(255, 255, 255);
    --social-github: #333;
    --social-linkedin: #0e76a8;
}