/* -- VARIABLES -- */
:root {
    --hero-height: 15vh;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: var(--body-text-color);
    overflow-x: hidden;
}


/* -- OTHER -- */
.separator {
    height: 4px;
    background: var(--primary-color);
    width: 100%;
    margin-bottom: 0.35rem;
}

.margin-element {
    margin-bottom: 2.5rem;
}


/* -- NAV -- */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: sticky;
    top: -1px;

    height: 5vh;
    width: 100vw;

    padding: 0.5rem 0;

    background: var(--nav-color);
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;

    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

/* Underline animation */
nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--accent-color);
    transition: width 0.3s ease;
}

/* Hover effects */
nav ul li a:hover {
    color: var(--accent-color); /* Change text color on hover */
}

nav ul li a:hover::after {
    width: 100%; /* Underline expands on hover */
}

/* Active link effect */
nav ul li a.active {
    color: var(--accent-color); /* Highlight the active link */
}

nav ul li a.active::after {
    width: 100%; /* Keep underline visible for active link */
}



/* -- CONTAINERS -- */
.container {
    margin-bottom: 5rem;
    max-width: 1100px;
    padding-left: 1rem;
    padding-right: 1rem;
}


/* -- HERO / HEADER -- */
.container-hero {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--hero-height);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    transition: transform 0.5 ease;
}

header {
    width: 100%;
    height: var(--hero-height);
    background: var(--hero-color);
    color: var(--text-color);
    text-align: center;
    overflow: hidden;
}

.hero-img {
    position: absolute;
    right: 0;


    width: 100%;
    height: var(--hero-height);
}

header h1 {
    margin: 0;
    margin-bottom: -2vw;
    font-size: 7vw;

    transition: transform 0.5s ease;
}

header p {
    margin: 0;
    font-size: 3vw;

    transition: transform 0.5s ease;
}

section h2 {
    margin: 0;
    font-size: 1.6rem;
}

.profile-picture {
    position: absolute;
    left: 1rem;
    width: 11vh;
    height: 11vh;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s ease;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: 50% 40%;
}



/* -- PROJECT CONTAINER -- */
.project {
    margin-bottom: 4rem;
}

.project h3 {
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.project-buttons {
    margin-top: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
}


/* -- BUTTONS -- */
/* github button */
.github-button {
    height: 5vh;
    min-height: 40px;
    display: flex;
    background-color: var(--git-color);
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    font-family: "Ubuntu Condensed", sans-serif;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.6s ease;
  }
  .github-button svg {
    height: 30px;
  }
  .github-button:hover {
    background-color: var(--git-color2);
  }
  .github-button:active {
    background-color: var(--git-color-click);
    transition: background 0.1s;
}

  /* demo button */
.demo-button {
    font-weight: 500;
    font-family: "Ubuntu Condensed", sans-serif;
    display: inline-block;
    width: 8em;
    height: 5vh;
    min-height: 40px;
    line-height: 2.5vh;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--demo-color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    color: var(--demo-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  }
  
  .demo-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--demo-color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  .demo-button:hover {
    color: #fff;
  }
  
  .demo-button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .demo-button:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .demo-button:active:before {
    background: var(--demo-color2);
    transition: background 0.1s;
  }
  
  

/* -- FOOTER -- */
footer {
    text-align: center;
    padding: 1rem 0;
    background: var(--primary-color);
    color: var(--text-color);
}


/* -- SOCIAL -- */
.social-links,.flex-center {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    padding: 10px;

    margin: 5px;
    margin-left: 0px;
    margin-right: 12px;

    transition: 0.3s;
    justify-content: center;
  }
  
  .social-btn svg {
    height: 24px;
    width: 24px;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;

    font-size: 13px;
    white-space: nowrap;
  }
  
  .social-btn:hover {
    width: 220px;
    border-radius: 10px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: auto;
  }
  
  /* linkedIn */
  #linkedin {
    background-color: var(--social-linkedin);
  }
  #linkedin svg {
    fill: white;
  }
  
  /* github */
  #github {
    fill: white;
    background-color: var(--git-color2);
  }

  /* phone */
  #phone {
    background-color: rgb(20, 155, 20);
    font-size: 23px;
  }

  /* email */
  #email {
    background-color: var(--demo-color);
    font-size: 24px;
  }
  
