:root {
    --expandedAboutTopSpace: 15px;
    --expandedAboutPadding: 15px;
    --expandedAboutHeight: 100vh;
    --aboutBoldWeight: 600;
}

/* Collapsible button styling */
.collapsible-button {
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 6vh;
    width: 90vw;
    min-height: 40px;

    background-color: transparent;
    color: var(--body-text-color);
    padding: 10px 20px;
    border: 2px solid var(--body-text-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Collapsible content styling */
.collapsible-content {
    margin-top: 0px;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

/* Expanded state */
.collapsible-content.expanded {
    max-height: 570px;
    padding: var(--expandedAboutPadding);
    animation: expandAbout 0.5s ease forwards;
}

/* Collapsing state */
.collapsible-content.collapsing {
    animation: collapseAbout 0.5s ease forwards;
}

.collapsible-content.expanded h3 {
    margin-left: calc(0px - var(--expandedAboutPadding));
    font-size: 1.25rem;
    font-weight: 600;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: last baseline;
    gap: 5vw;

    height: 10vh;
    width: 100%;

    margin-top: 4vh;
    margin-bottom: 4rem;

    /* border: 2px solid orange; */
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 2px solid red; */
}

.about-item p {
    margin-top: 10px;
    text-align: center;
    font-weight: var(--aboutBoldWeight);
    line-height: 2.1vh;
}


#hobby-lift {
    height: 8vh;
    width: 8vh;
    /* border: 2px solid purple; */

    margin-bottom: -2vh;
}

#hobby-game-development {
    height: 5vh;
    width: 5vh;

    margin-bottom: -0.7vh;
}

#hobby-martial {
    height: 5vh;
    width: 5vh;

    margin-bottom: -0.4vh;
}

.grad-bullet {
    list-style: none;
    margin: 20px;
    margin-top: 3vh;
    padding-left: 0px;
    margin-bottom: 3rem;
  }
  
  .grad-bullet li {
    position: relative; /* Required for positioning the bullet */
    padding-left: 30px; /* Space to make room for the bullet */
    font-size: 16px;
    font-weight: var(--aboutBoldWeight);
    color: #333;
    margin-top: 2vh;
    line-height: 1.25;
  }
  
  .grad-bullet li::before {
    content: '';
    display: inline-block;
    background: url('/img/graduation-logo.svg') no-repeat center center;
    background-size: contain; /* Ensures the SVG resizes correctly */
    position: absolute;
    left: 0; /* Position bullet to the left of the text */
    top: 40%; /* Center the bullet vertically */
    transform: translateY(-50%); /* Adjust for perfect centering */
    width: 22px; /* Resize bullet */
    height: 22px; /* Resize bullet */
  }

/* ANIMATIONS */
/* Expand animation */
@keyframes expandAbout {
    0% {
        margin-top: 0px;
        height: 0;
        opacity: 0;
    }
    100% {
        margin-top: var(--expandedAboutTopSpace);
        height: var(--expandedAboutHeight); /* Adjust to desired height */
        opacity: 1;
    }
}

/* Collapse animation */
@keyframes collapseAbout {
    0% {
        margin-top: var(--expandedAboutTopSpace);
        padding: var(--expandedAboutPadding);
        height: var(--expandedAboutHeight); /* Match the expanded height */
        opacity: 1;
    }
    100% {
        margin-top: 0;
        height: 0;
        opacity: 0;
    }
}
