/* -- HERO / HEADER -- */
:root {
    --terminal-textbox-bottom-gap: 4vh;
    --terminal-textbox-height: 5vh;
}

header {
    justify-content: center;

    width: 100%;
    height: var(--hero-height);

    /* font-family: 'Courier New', Courier, monospace; */
    background: var(--hero-background-color);
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.hero-header {
    position: relative;
    padding: 3vh;
}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: transform 0.5 ease;
}

.hero-separator {
    height: 0.22vh;
    margin-bottom: 1vh;

    background: var(--hero-foreground-color);
    background: linear-gradient(to left, transparent, var(--primary-color) 50%, transparent);
    width: 100vw;
}

.hero-footer-space {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 10%
}



/* -- HERO TERMINAL -- */
/* Terminal text styling */
.terminal-text {
    overflow: hidden; /* Hide overflowed text */
    width: 100%;

    text-align: left;
    padding-left: 7vw;
    padding-right: 7vw;
}
#terminal-header {
    font-size: 3.2vh;
    height: auto;
    /* border: 2px solid red; */
}

#terminal-body {
    font-size: clamp(13px, 3.5vw, 15px);
    overflow-y: auto;
    line-height:2.7vh;
    height: calc(55vh - 3vw);
    margin-bottom: 2vh;
    margin-top: 1.25vh;
    /* border: 2px solid red; */
}
#terminal-body::after {
    content: '|';
    animation: blink 0.7s step-end infinite;
}
  
/* Blinking effect */
@keyframes blink {
    50% {
      opacity: 0;
    }
}

/* SCROLL BARS: */
#terminal-body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
  /* Scrollbar track */
#terminal-body::-webkit-scrollbar-track {
    background-color: var(--hero-background-color);
    border-radius: 10px;
 }
  
  /* Scrollbar thumb (the draggable part) */
#terminal-body::-webkit-scrollbar-thumb {
    background-color: var(--terminal-secondary-color);
    border-radius: 10px;
}
  
  /* Hover effect on the scrollbar thumb */
#terminal-body::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}




/* --- TERMINAL FOOTER --- */
.terminal-footer {
    width: 100%;
    height: 9vh;
    padding: 1vh;
    padding-left: 0;
    padding-right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* border: 2px solid green; */
}

.terminal-textbox {
    width: calc(65% - 1vh);
    height: var(--terminal-textbox-height);

    background-color: var(--terminal-textbox-color);
    color: var(--hero-foreground-color);
    border: 2px solid var(--terminal-secondary-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    font-size: auto;
    text-align: left;
    padding: 0.7vh;
    padding-left: 10px;

    margin-bottom: var(--terminal-textbox-bottom-gap);
    resize: none;
    overflow: hidden;
}
.terminal-textbox:focus {
    outline: none;
    border: 2px solid var(--terminal-secondary-color)
}

/* Send button styling */
.terminal-send-button {
    box-sizing: border-box;

    height: var(--terminal-textbox-height);
    width: 15%;

    max-width: 80px;

    background-color: var(--terminal-secondary-color);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    color: var(--hero-foreground-color);

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 15px;

    cursor: pointer;

    margin-bottom: var(--terminal-textbox-bottom-gap);
    transition: background-color 0.2s, color 0.2s;
}
.terminal-send-button:hover {
    background-color: var(--terminal-accent-color);
    color: #000;
}

.api-braces {
    height: calc(var(--terminal-textbox-height) * 2.1);
    width: 7%;
    max-width: 50px;
    font-size: calc(var(--terminal-textbox-height) + 1vh);
    margin-bottom: var(--terminal-textbox-bottom-gap);
}

/* Ensures that the following elements aren't present on page loadup */
.terminal-textbox, .terminal-send-button, .api-braces {
    display: none;
}



/* TERMINAL HEADER */
header h1 {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    margin-bottom: calc(-0.5rem + -1vw);
    font-size: clamp(23px, 7vw, 55px);
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    transition: transform 0.5s ease;
}

header p {
    font-family: Arial, Helvetica, sans-serif;

    margin-top: 5px;
    font-size: clamp(17px, 3vw, 20px);
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    transition: transform 0.5s ease;
}



/* -- PROFILE PIC -- */
.profile-picture {
    position: absolute;
    left: 5vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: clamp(40px, 15vw, 100px);
    height: clamp(40px, 15vw, 100px);
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--profile-border-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s ease;
}

.profile-picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: 50% 40%;
}

.profile-picture-img.fit {
    object-fit: contain;
    padding: 20%;
    filter: invert(100%);
}

/* used to trigger the snap scroll function in the scroll.js script/module. */
.hero-trigger {
    position: absolute;
    left: 0;
    top: 60vh;

    width: 10vh;
    height: 10vh;

    /* border: 2px solid blue; */
}