/* -- PROJECT CONTAINER -- */
/* demo-button.css and github-button.css and directly used wit this element
*/

.project {
    margin-bottom: 4rem;
}

.project h3 {
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.project-buttons {
    margin-top: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
} 